<!-- This is the navigation header -->
<app-header [title]="'Librarian'">
  <!-- Link to the Book list Page -->
  <li>
    <button
      routerLink="book-list"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Book List
    </button>
  </li>

  <!-- Link to the add a Book page -->
  <li>
    <button
      routerLink="book-add"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Add Book
    </button>
  </li>

  <!-- Link to the Book request page -->
  <li>
    <button
      routerLink="book-request"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Book Request
    </button>
  </li>

  <!-- Link to the Membership Request Page -->
  <li>
    <button
      routerLink="membership-request"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Membership
    </button>
  </li>
</app-header>

<!-- This is the main content  -->
<main>
  <div class="outer-container">
    <router-outlet />
  </div>
</main>
