<!-- Loading State -->
<app-loader [isLoading]="isLoading" />

<!-- Error State -->
<app-error-card
  [errorMessage]="errorMessage"
  (onCancelClick)="onErrorCancelClick()"
/>

<!-- Idle State -->
<form
  *ngIf="!isLoading && !errorMessage"
  class="card-container col-container p-40 g-24"
  #formContainer="ngForm"
  (ngSubmit)="onRegisterClick()"
>
  <h3>Register as Member</h3>

  <div class="col-container">
    <!-- This is the user name input component container -->
    <div class="row-container">
      <input
        type="text"
        name="firstname"
        placeholder="Enter Firstname"
        required
        [(ngModel)]="userInput.firstname"
        #firstname="ngModel"
      />

      <input
        type="text"
        name="lastname"
        placeholder="Enter Lastname"
        [(ngModel)]="userInput.lastname"
      />
    </div>

    <!-- Error text for user name input -->
    <p class="error-text" *ngIf="!firstname.valid && firstname.touched">
      Please enter the firstname
    </p>
  </div>

  <!-- Email input container -->
  <div class="col-container">
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      required
      email
      [(ngModel)]="userInput.email"
      #email="ngModel"
    />

    <!-- Error text for Email input -->
    <p class="error-text" *ngIf="!email.valid && email.touched">
      Please enter the Email
    </p>
  </div>

  <!-- Password Container -->
  <div class="col-container">
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      required
      minlength="5"
      [(ngModel)]="userInput.password"
      #password="ngModel"
    />

    <!-- Error text for user name input -->
    <p class="error-text" *ngIf="!password.valid && password.touched">
      Please enter the Password of length < 5
    </p>
  </div>

  <!-- Container for the buttons -->
  <div class="row-container w-full">
    <button class="flex" type="submit" [disabled]="!formContainer.valid">
      Register User
    </button>

    <button
      type="button"
      class="destructive-btn flex"
      (click)="onGoToLoginClick()"
    >
      Go to Login Page
    </button>
  </div>
</form>
