<!-- Loading State -->
<app-loader [isLoading]="isLoading" />

<!-- Error State -->
<app-error-card
  [errorMessage]="errorMessage"
  (onCancelClick)="onErrorCancelClick()"
/>

<!-- Idle State or loaded state -->
<div class="col-container primary" *ngIf="!isLoading && !errorMessage">
  <!-- This is the title and the back button Container -->
  <div class="row-container space">
    <h2>To be returned Books . . .</h2>
    <button (click)="onBackButtonClick()">Go Back</button>
  </div>

  <!-- Cards for each and every Book Request Entry -->
  <div class="col-container" *ngFor="let request of bookRequests">
    <!-- Card Container for the Book Request Data -->
    <div class="card-container col-container full-width">
      <div class="row-container space">
        <h3>{{ request.book.title }}</h3>

        <!-- Button Container -->
        <div class="row-container">
          <button class="destructive-btn" (click)="onReturnClick(request.id)">
            Return
          </button>
        </div>
      </div>

      <!-- Book Description -->
      <p>The Description of the Book : {{ request.book.description }}</p>
    </div>

    <!-- Horizontal Line -->
    <hr class="center" />
  </div>
</div>
