<!-- Grid Container for the whole Layout when the data is fetched -->
<div class="grid-container">
  <!-- Main Analytics and Statistics Card Container-->
  <div class="card-container col-container grid-span-6">
    <h3>Admin Dashboard . . .</h3>

    <p>Not Yet Designed</p>
  </div>

  <!-- Card container to view Librarians Component -->
  <div
    class="card-container col-container card-hover"
    (click)="onLibrarianListClick()"
  >
    <h3>View Librarians . . .</h3>

    <p>
      Click me to head to the <span class="highlight">librarians page</span>,
      where you can see the details of all the librarians listed.
    </p>
  </div>

  <!-- Card Container to add a Librarian Container -->
  <div
    class="card-container col-container card-hover"
    (click)="onAddLibrarianClick()"
  >
    <h3>Add a Librarian . . .</h3>

    <p>
      Click me to head to the
      <span class="highlight">add new librarian page</span>, where you can add
      new librarians to the database.
    </p>
  </div>
</div>
