<!-- This is the navigation header -->
<app-header [title]="'Admin'">
  <!-- Link to the librarian list Page -->
  <li>
    <button
      routerLink="librarian-list"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Librarian List Page
    </button>
  </li>

  <!-- Link to the add a librarian page -->
  <li>
    <button
      routerLink="librarian-add"
      routerLinkActive="active"
      class="navigation-btn"
    >
      Add a Librarian Page
    </button>
  </li>
</app-header>

<!-- This is the main content  -->
<main>
  <div id="center-container">
    <router-outlet />
  </div>
</main>
